.video {
    background-image: url('./images/back.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-position: center center;
    height: 450px;
    margin-bottom: 100px;
}
.video h1{
    color: #a82d49;
    font-family:'Quicksand', sans-serif;
    margin-bottom:20px ;
}
.video p{
    width: 40%;
    font-family: 'Roboto', sans-serif;
    color: #555555;
    margin-bottom: 20px;
}
.video a{
    text-decoration: none;
    color: #43121d;
    font-size: 20px;
}
.video a:hover{
    color:#a82d49;
}
.video a i{
    font-size: 25px;
}